@keyframes bg-move {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(1.08)
    }
}

@keyframes lazer-move {
    0% {
        box-shadow: 0 0 19px #0ff, 0 0 3px #0ff, 0 0 3px #e4ff00;
        filter: brightness(1.3) contrast(2)
    }

    30% {
        box-shadow: 0 0 30px #0ff, 0 0 3px #0ff, 0 0 3px #e4ff00;
        filter: brightness(1.2) contrast(4)
    }

    53% {
        box-shadow: 0 0 14px #0ff, 0 0 3px #0ff, 0 0 3px #e4ff00;
        filter: brightness(2.2) contrast(1)
    }

    70% {
        box-shadow: 0 0 17px #0ff, 0 0 3px #0ff, 0 0 3px #e4ff00;
        filter: brightness(2.2) contrast(1)
    }

    90% {
        box-shadow: 0 0 24px #0ff, 0 0 7px #0ff, 0 0 3px #e4ff00;
        filter: brightness(.7) contrast(3)
    }

    to {
        box-shadow: 0 0 13px #0ff, 0 0 7px #0ff, 0 0 3px #e4ff00;
        filter: brightness(1) contrast(1.8)
    }
}

@keyframes anchorMove {
    0% {
        transform: translate3d(0, -5%, 0) rotate(3deg)
    }

    10% {
        opacity: .8
    }

    25% {
        opacity: 1
    }

    30% {
        opacity: .86
    }

    33%,
    58% {
        opacity: 1
    }

    65% {
        opacity: .85
    }

    69% {
        opacity: 1
    }

    to {
        transform: translate3d(0, 13%, 0) rotate(-2deg)
    }
}

@keyframes lightMove {
    0% {
        transform: rotate(4deg)
    }

    10% {
        opacity: .6
    }

    25% {
        opacity: 1
    }

    30% {
        opacity: .7
    }

    33%,
    58% {
        opacity: 1
    }

    65% {
        opacity: .7
    }

    69% {
        opacity: 1
    }

    to {
        transform: rotate(-3deg)
    }
}

@keyframes scroll-bound {
    0% {
        transform: translate3d(0, 5%, 0)
    }

    to {
        transform: translate3d(0, -5%, 0)
    }
}

@keyframes shine-portrait {
    0% {
        filter: contrast(1) brightness(1);
        transform: translate3d(2px, 5px, 0)
    }

    to {
        filter: contrast(1.12) brightness(1.35);
        transform: translate3d(-2px, -4px, 0)
    }
}

[class*=page_] {
    position: relative;
}

.page_events_sunkeeper {
    background-color: #121315;
    height: 100%
}

.fullpage-section {
    height: 100%;
    max-height: var(--maxvh);
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}

.fullpage-section.swiper-vertical {
    touch-action: unset;
}

.fullpage-section>.swiper-wrapper {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.fullpage-section>.swiper-wrapper>.swiper-slide.scrollable {
    overflow-y: auto;
    scrollbar-width: none;
}

.fullpage-section>.swiper-wrapper>.swiper-slide-active {
    z-index: 5;
}

.fullpage-section>.swiper-wrapper>.swiper-slide {
    width: 100%;
    height: auto;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.fullpage-section>.swiper-wrapper>.swiper-slide>* {
    flex: 0 0 auto;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

@media (min-width: 769px) {
    .fullpage-section .swiper-slide {
        height: var(--maxvh-without-navtop) !important
    }
}

.area,
.area .visual {
    background-position: 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
}

.area {
    background-size: initial;
    position: relative;
}

.area .visual {
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 1;
}

.area .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

/* 
.audiobg {
    bottom: 0;
    left: 0;
    margin: 20px;
    position: fixed;
    transition: transform .5s cubic-bezier(.33, 1, .68, 1);
    z-index: 2
}

@media (min-width: 769px) {
    .audiobg.-open-banner {
        transform: translate3d(160px, 0, 0)
    }
}

@media (max-width: 768px) {
    .audiobg {
        display: none
    }
} */

.nav_side {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10
}

@media (max-width: 768px) {
    .nav_side {
        display: none
    }
}

.nav_side:before {
    background-color: #fff3;
    right: 0;
    right: 22px;
    width: 1px
}

.nav_side:after,
.nav_side:before {
    content: "";
    height: 100%;
    position: absolute
}

.nav_side:after {
    background: linear-gradient(90deg, #0000, #0000004d 90%);
    opacity: 0;
    pointer-events: none;
    right: 0;
    top: 0;
    transition: background .3s ease;
    width: 140%
}

.nav_side ol {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity .3s ease
}

.nav_side ol li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    z-index: 2
}

.nav_side ol li.depth_1 {
    margin: 8px 0
}

.nav_side ol li.depth_1 button {
    font-weight: 500
}

/* .nav_side ol li.depth_2 {
    margin: 6px 0
}

.nav_side ol li.depth_2 button {
    color: #6f858d99;
    font-size: 15px
} */

.nav_side ol li button {
    align-items: center;
    box-sizing: border-box;
    color: #c9c9c980;
    display: flex;
    font-family: "Noto Serif TC", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    margin-left: auto;
    margin-right: 44px;
    pointer-events: all;
    position: relative;
    text-align: right;
    transition: background .3s ease, color .2s ease, font-weight .3s ease;
    white-space: nowrap
}

.nav_side ol li button .anchor {
    content: "";
    display: inline-block;
    height: 40px;
    left: calc(100% + 3px);
    opacity: 0;
    position: absolute;
    transform: translateX(-10px) scale(.95);
    transition: opacity .5s cubic-bezier(.33, 1, .68, 1), transform .9s cubic-bezier(.33, 1, .68, 1), background-image .3s ease;
    width: 40px
}

.nav_side ol li button .anchor:before {
    animation: anchorMove 2.7s cubic-bezier(.65, 0, .35, 1) infinite alternate;
    background-image: url(../img/icon/side_ornate_active.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%
}

.nav_side ol li.active.depth_1 button {
    color: #c9c9c9;
    text-shadow: 0 0 5px #3dc9d6, 0 0 13px #3dc9d6
}

/* .nav_side ol li.active.depth_2 button {
    color: #c9c9c9;
    font-weight: 600;
    text-shadow: 0 0 5px #3dc9d6
} */

.nav_side ol li.point button .anchor {
    opacity: 1;
    transform: translateX(-1px)
}

.video_button {
    color: #0000 !important;
    font-size: 0 !important;
    height: 135px;
    position: relative;
    transition: filter .2s ease;
    width: 140px;
    -webkit-text-size-adjust: none
}

@media (max-width: 768px) {
    .video_button {
        height: 75px;
        width: 78px
    }
}

.video_button>span {
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: transform .3s ease
}

.video_button>span:before {
    content: "";
    display: inline-block;
    height: 0;
    padding-top: 100%;
    vertical-align: top;
    width: 0
}

.video_button>span:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.video_button>span:first-child {
    width: 67%
}

.video_button>span:first-child:after {
    animation: rotate 70s linear infinite;
    background-image: url(../img/page1/p1_video_frame1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}

.video_button>span:nth-child(2) {
    width: 100%
}

.video_button>span:nth-child(2):after {
    animation: rotate 20s linear infinite;
    background-image: url(../img/page1/p1_video_frame2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}

.video_button>span:nth-child(3) {
    transition: transform 1s ease, filter .5s ease;
    width: 82.5%
}

.video_button>span:nth-child(3):after {
    animation: rotate 30s linear infinite reverse;
    background-image: url(../img/page1/p1_video_line.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}

.video_button>span:nth-child(4) {
    width: 43%
}

.video_button>span:nth-child(4):after {
    background-image: url(../img/page1/p1_video_play.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate3d(5%, 0, 0)
}

.video_button:hover {
    filter: contrast(1.1) brightness(1.1)
}

.video_button:hover>span:first-child {
    transform: translate3d(-50%, -50%, 0) scale(.98)
}

.video_button:hover>span:nth-child(2) {
    transform: translate3d(-50%, -50%, 0) scale(1.02)
}

.video_button:hover>span:nth-child(3) {
    filter: drop-shadow(0 0 3px #bfffff) drop-shadow(0 0 8px #bfffff);
    transform: translate3d(-50%, -50%, 0) scale(1.03)
}

.video_button:hover>span:nth-child(4) {
    transform: translate3d(-50%, -50%, 0) scale(.9)
}

.more_button {
    background-image: url(../img/page2/p2_button_detail.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000 !important;
    display: inline-block;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .6));
    font-size: 0 !important;
    height: 65px;
    transition: filter .3s ease, transform .3s cubic-bezier(.33, 1, .68, 1);
    vertical-align: top;
    width: 276px;
    -webkit-text-size-adjust: none
}

.more_button:hover {
    filter: contrast(1.1) brightness(1.2);
    transform: scale(.98)
}

@media (max-width: 768px) {
    .more_button {
        height: 32px;
        width: 138px
    }
}

section.area {
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (min-width: 769px) {
    section.area {
        height: auto;
        min-height: var(--maxvh-without-navtop)
    }
}

@media (max-width: 768px) {
    section.area {
        min-height: auto;
        transform: none !important
    }
}

section.area .visual {
    height: 100%;
    width: 100%
}

section.area .visual>span {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

section.area .visual video {
    display: inline-block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;
    width: 100%;
    filter: brightness(30%);
}

section.area .visual .bg {
    animation: bg-move 10s cubic-bezier(.37, 0, .63, 1) infinite alternate;
    display: inline-block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

/* section.area .visual .dimmed {
    background-color: #000000b3;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateZ(0);
} */

section.area .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 100%
}

section.area .content>* {
    box-sizing: border-box;
    width: 100%
}

section.area .content>:not(.layout-escape) {
    max-width: 1597px;
    padding-left: 24px;
    padding-right: 24px
}

@media (max-width: 768px) {
    section.area .content>:not(.layout-escape) {
        max-width: 572px;
        padding-left: 16px;
        padding-right: 16px
    }

    section.area .content {
        justify-content: flex-start;
        padding-bottom: 85px;
        padding-top: 50px
    }
}

section.area .content .content_wrap {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative
}

@media (max-width: 768px) {
    section.area .content .content_wrap {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        width: 100%
    }
}

section.area .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif TC", serif;
    transform: translateZ(0);
}

section.area .header .subtitle {
    align-items: center;
    color: #cfb699;
    display: inline-flex;
    font-size: 25px;
    line-height: 1;
    white-space: nowrap;
    grid-gap: 15px;
    font-weight: 600;
}

@media (max-width: 768px) {
    section.area .header .subtitle {
        grid-gap: 10px
    }
}

section.area .header .subtitle:after,
section.area .header .subtitle:before {
    background-image: url(../img/icon/title_ornate.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 13px;
    width: 63px
}

@media (max-width: 768px) {

    section.area .header .subtitle:after,
    section.area .header .subtitle:before {
        height: 8px;
        width: 37px
    }
}

section.area .header .subtitle:after {
    transform: scaleX(-1)
}

@media (max-width: 768px) {
    section.area .header .subtitle {
        font-size: 15px
    }
}

section.area .header h3.title {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../img/icon/pattern_title.jpg);
    background-position: 50%;
    background-repeat: repeat;
    background-size: initial;
    color: #f3f0ed;
    font-size: 46px;
    line-height: 1;
    margin-top: 18px;
    font-weight: 700;
}

@media (max-width: 768px) {
    section.area .header h3.title {
        font-size: 24px;
        margin-top: 10px
    }
}

section.area .header .description {
    margin-top: 30px;
    text-align: center
}

@media (max-width: 768px) {
    section.area .header .description {
        margin-top: 20px
    }
}

section.area p {
    color: #c0cad0;
    font-family: "Noto Serif TC", serif;
    font-size: 18px;
    font-style: normal;
    letter-spacing: -.05em;
    font-weight: 400;
}

@media (max-width: 768px) {
    section.area p {
        font-size: 10px
    }

    .section_hero {
        height: var(--maxvh-without-navtop)
    }
}

.section_hero .content .content_wrap .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: unset !important
}

.section_hero .content .content_wrap .header .eptitle {
    background-image: url(../img/page1/p1_eptitle.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000 !important;
    font-size: 0 !important;
    height: 94px;
    width: 231px;
    -webkit-text-size-adjust: none
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .header .eptitle {
        height: 47px;
        width: 115px
    }
}

.section_hero .content .content_wrap .header .subtitle {
    background: linear-gradient(0deg, #3f392f, #d1bd9c);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1;
    margin-top: 36px;
    -webkit-text-fill-color: #0000;
    font-family: "Noto Serif TC", serif;
    font-style: normal
}

.section_hero .content .content_wrap .header .subtitle:after,
.section_hero .content .content_wrap .header .subtitle:before {
    display: none
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .header .subtitle {
        font-size: 21px;
        margin-top: 17px
    }
}

.section_hero .content .content_wrap .header .title {
    color: #0000 !important;
    font-size: 0 !important;
    height: 148px;
    margin-top: 18px;
    position: relative;
    width: 509px;
    -webkit-text-size-adjust: none
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .header .title {
        height: 74px;
        margin-top: 14px;
        width: 255px
    }
}

/* 
.section_hero .content .content_wrap .header .title .title_lazer {
    background: linear-gradient(90deg, #000, #0000 30px, #0000 calc(100% - 30px), #000);
    box-sizing: border-box;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    width: 1px;
    width: 100%
}

.section_hero .content .content_wrap .header .title .title_lazer:after,
.section_hero .content .content_wrap .header .title .title_lazer:before {
    animation: lazer-move 90ms ease infinite;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px #0ff, 0 0 7px #0ff, 0 0 3px #e4ff00;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 3px
}

.section_hero .content .content_wrap .header .title .title_lazer:before {
    left: 0
}

.section_hero .content .content_wrap .header .title .title_lazer:after {
    right: 0
} */

.section_hero .content .content_wrap .header .title .title_text {
    background-image: url(../img/page1/p1_title.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

/* .section_hero .content .content_wrap .header .title .title_shadow {
    background-image: url(../img/page1/p1_title_shadow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, .4));
    height: 100%;
    left: 0;
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: -1
} */

.section_hero .content .content_wrap .header .title .title_light {
    height: 148px;
    left: 0%;
    /* mix-blend-mode: color-dodge; */
    position: absolute;
    top: -10%;
    width: 148px;
    z-index: 3
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .header .title .title_light {
        height: 74px;
        width: 74px
    }
}

.section_hero .content .content_wrap .header .title .title_light:before {
    animation: lightMove 3s cubic-bezier(.65, 0, .35, 1) infinite alternate;
    background-image: url(../img/page1/p1_title_light.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

.section_hero .content .content_wrap .detail {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 36px
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .detail {
        margin-top: 20px
    }
}

.section_hero .content .content_wrap .detail .period {
    align-items: center;
    display: flex
}

.section_hero .content .content_wrap .detail .period>p {
    background-image: url(../img/page1/p1_period.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000;
    flex: 0 0 auto;
    font-family: "Noto Serif TC", serif;
    font-size: 28px;
    width: 335px;
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .detail .period>p {
        font-size: 17px;
        width: 167px;
    }
}

.section_hero .content .content_wrap .detail .period>span {
    background-image: url(../img/page1/p1_period_ornate.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0 0 auto;
    height: 36px;
    margin: 0 14px;
    width: 30px
}

.section_hero .content .content_wrap .detail .period>span:last-child {
    transform: scaleX(-1)
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .detail .period>span {
        height: 22px;
        margin: 0 7px;
        width: 18px
    }
}

.section_hero .content .content_wrap .detail .video_button {
    margin-top: 70px
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .detail .video_button {
        margin-top: 43px
    }
}

.section_hero .content .content_wrap .scroll {
    animation: scroll-bound 1s cubic-bezier(.65, 0, .35, 1) infinite alternate-reverse;
    background-image: url(../img/page1/p1_scroll.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000 !important;
    font-size: 0 !important;
    height: 126px;
    margin-top: 60px;
    transition: filter .2s ease;
    width: 82px;
    -webkit-text-size-adjust: none
}

@media (max-width: 768px) {
    .section_hero .content .content_wrap .scroll {
        height: 68.5px;
        margin-top: 70px;
        width: 43px
    }
}

.section_hero .content .content_wrap .scroll:hover {
    filter: brightness(1.2) contrast(1.2)
}

@media (min-width: 769px) {
    .section_change .visual .bg {
        background-image: url(../img/page2/p2_bg.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
}

@media (max-width: 768px) {
    .section_change .visual .bg {
        background-image: url(../img/page2/p2_bg_m.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
}

.section_change .content .detail {
    display: flex;
    margin-top: 48px;
    grid-gap: 32px
}

@media (max-width: 768px) {
    .section_change .content .detail {
        align-items: center;
        flex-direction: column;
        margin-top: 31px;
        grid-gap: 36px
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_change .content .detail {
        flex-direction: column;
        align-items: center;
    }
}

.section_change .content .detail .ex {
    color: #0000 !important;
    font-size: 0 !important;
    margin: 17px 0;
    -webkit-text-size-adjust: none
}

@media (max-width: 768px) {
    .section_change .content .detail .ex {
        margin: 7px 0 16px
    }
}

.section_change .content .detail .explain {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateZ(0);
}

.section_change .content .detail .explain .ex1 {
    background-image: url(../img/page2/p2_ex1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    width: 625px
}

@media (max-width: 768px) {
    .section_change .content .detail .explain .ex1 {
        height: 42px;
        width: 326px
    }
}

.section_change .content .detail .explain .ex2 {
    background-image: url(../img/page2/p2_ex2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 49px;
    width: 652px
}

@media (max-width: 768px) {
    .section_change .content .detail .explain .ex2 {
        height: 24px;
        width: 326px
    }
}

.section_change .content .detail .season {
    background-image: url(../img/page2/p2_ex3.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000 !important;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
    font-size: 0 !important;
    height: 486px;
    width: 404px;
    -webkit-text-size-adjust: none
}

@media (max-width: 768px) {
    .section_change .content .detail .season {
        height: 243px;
        width: 202px;
        transform: translateZ(0);
    }
}

.section_change .content .link {
    margin-top: 58px
}

@media (max-width: 768px) {
    .section_change .content .link {
        margin-top: 35px;
        transform: translateZ(0);
    }
}

.section_castle .content .detail {
    align-items: center;
    display: flex
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_castle .content .detail {
        flex-direction: column;
        align-items: center;
    }

    .section_castle .content .detail .info {
        margin-top: 10px !important;
    }

    .section_castle .content .detail .map {
        margin-left: -265px !important;
    }
}

@media (min-width: 769px) {
    .section_castle .content .detail {
        /* margin-bottom: -170px; */
        margin-top: -50px
    }
}

@media (max-width: 768px) {
    .section_castle .content .detail {
        flex-direction: column
    }
}

.section_castle .content .detail .map {
    height: 605px;
    width: 1094px;
    z-index: -1
}

@media (min-width: 769px) {
    .section_castle .content .detail .map {
        background-image: url(../img/page3/p3_map.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: -50px;
        margin-left: -400px;
        margin-right: -250px
    }

    .section_castle .visual .bg {
        background-image: url(../img/page3/p3_bg.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(30%);
    }
}

@media (max-width: 768px) {
    .section_castle .content .detail .map {
        background-image: url(../img/page3/p3_map_m.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 393px;
        margin-bottom: -50px;
        margin-left: 15px;
        margin-top: -30px;
        width: 563px;
    }
}

.section_castle .content .detail .info {
    background-image: url(../img/page3/p3_info.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000 !important;
    font-size: 0 !important;
    margin-top: 115px;
    height: 458px;
    width: 455px;
    -webkit-text-size-adjust: none;
}

@media (max-width: 768px) {
    .section_castle .content .detail .info {
        height: 229px;
        width: 227px;
        margin-top: 0px !important;
    }

    .section_castle .visual .bg {
        background-image: url(../img/page3/p3_bg_m.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(30%);
    }
}

@media (min-width: 769px) {
    .section_colossus .visual .bg {
        background-image: url(../img/page4/p4_bg.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
}

@media (max-width: 768px) {
    .section_colossus .visual .bg {
        background-image: url(../img/page4/p4_bg_m.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
}

.section_colossus .content .header {
    position: relative;
    z-index: 5
}

.section_colossus .content .detail {
    align-items: center;
    display: flex;
    margin-top: 34px;
    max-width: 1085px;
    position: relative;
    width: 100%;
    z-index: 0
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_colossus .content .detail {
        flex-direction: column;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .section_colossus .content .detail {
        flex-direction: column;
        margin-top: 20px
    }
}

.section_colossus .content .detail .portrait {
    position: absolute;
    right: 51%;
    top: -30px
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_colossus .content .detail .portrait {
        left: 50%;
        right: unset;
        top: 155px;
        transform: translate3d(-66%, 0, 0);
    }
}

@media (max-width: 768px) {
    .section_colossus .content .detail .portrait {
        left: 50%;
        right: unset;
        top: 120px;
        transform: translate3d(-66%, 0, 0);
        z-index: -1;
    }
}

.section_colossus .content .detail .portrait>span {
    background-image: url(../img/page4/p4_portrait.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 743px;
    width: 742px
}

@media (max-width: 768px) {
    .section_colossus .content .detail .portrait>span {
        height: 462px;
        width: 462px
    }
}

.section_colossus .content .detail .portrait .video_button {
    position: absolute;
    right: 35px;
    top: 36px;
    width: 145px
}

@media (max-width: 768px) {
    .section_colossus .content .detail .portrait .video_button {
        right: 20px;
        top: 0;
        width: 72px
    }
}

.section_colossus .content .detail .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    position: relative;
    width: 586px;
    z-index: 10;
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_colossus .content .detail .info {
        margin-left: unset;
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .section_colossus .content .detail .info {
        margin-left: unset;
        pointer-events: none;
        will-change: transform;
        transform: translateZ(0);
        z-index: 9999;
    }
}

.section_colossus .content .detail .info .rune {
    display: flex;
    grid-gap: 1px;
    align-items: center;
    z-index: -1
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_colossus .content .detail .info .rune {
        grid-gap: 0;
    }
}

@media (max-width: 768px) {
    .section_colossus .content .detail .info .rune {
        grid-gap: 0
    }
}

.section_colossus .content .detail .info .rune i {
    background-color: #3f4c53cc;
    height: 21px;
    width: 21px
}

@media (max-width: 768px) {
    .section_colossus .content .detail .info .rune i {
        height: 13px;
        width: 13px
    }
}

.section_colossus .content .detail .info .description {
    color: #d0cfce;
    margin-top: 12px;
    text-align: center
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_colossus .content .detail .info .description {
        margin-top: 9px;
    }
}

@media (max-width: 768px) {
    .section_colossus .content .detail .info .description {
        margin-top: 9px
    }
}

.section_colossus .content .detail .info .table {
    background-image: url(../img/page4/p4_table.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #0000 !important;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .4));
    font-size: 0 !important;
    height: 540px;
    margin-top: 33px;
    width: 522px;
    -webkit-text-size-adjust: none
}

@media (min-width: 769px) and (max-width: 1280px) {
    .section_colossus .content .detail .info .table {
        height: 501px;
        margin-top: 400px;
        width: 492px;
    }
}

@media (max-width: 768px) {
    .section_colossus .content .detail .info .table {
        height: 270px;
        margin-top: 260px;
        width: 261px;
        will-change: transform;
        transform: translateZ(0);
        z-index: 9999;
    }
}

.section_figure #particles_1 {
    box-sizing: border-box;
    display: inline-flex;
    height: 100%;
    left: 0;
    -webkit-mask-image: linear-gradient(90deg, #0000 10%, #000000a6 20% 80%, #0000 90%);
    mask-image: linear-gradient(90deg, #0000 10%, #000000a6 20% 80%, #0000 90%);
    mix-blend-mode: overlay;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3
}

@media (max-width: 768px) {
    .section_figure #particles_1 {
        z-index: 5
    }
}

.section_figure .visual {
    overflow: hidden !important
}

@media (min-width: 769px) {
    .section_figure .visual .bg {
        background-image: url(../img/page6/p6_bg.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
}

@media (max-width: 768px) {
    .section_figure .visual .bg {
        background-image: url(../img/page6/p6_bg_m.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
}

.section_figure .visual .dust {
    animation: rotate-center 300s linear infinite reverse;
    background-image: url(../img/page6/p6_dust.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    filter: url(#wave);
    height: 1600px;
    left: 0;
    left: 50%;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1600px
}

@media (max-width: 768px) {
    .section_figure .visual .dust {
        height: 1000px;
        width: 1080px
    }
}

.section_figure .content:before {
    content: "";
    height: 100%;
    position: absolute;
    width: 1px
}

.section_figure .content .detail {
    margin-top: -30px;
    mix-blend-mode: color-dodge;
    position: relative
}

@media (max-width: 768px) {
    .section_figure .content .detail {
        margin-top: 0
    }
}

.section_figure .content .detail .portrait {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 40px
}

@media (max-width: 768px) {
    .section_figure .content .detail .portrait {
        margin-left: 30px
    }
}

.section_figure .content .detail .portrait>span {
    display: inline-block;
    filter: contrast(1) brightness(1) blur(0);
    margin: 0 -90px
}

@media (max-width: 768px) {
    .section_figure .content .detail .portrait>span {
        margin: 0 -50px
    }
}

.section_figure .content .detail .portrait>span:before {
    animation: shine-portrait 3s cubic-bezier(.37, 0, .63, 1) infinite alternate;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    will-change: filter, transform
}

.section_figure .content .detail .portrait>span:first-child {
    height: 653px;
    width: 468px
}

.section_figure .content .detail .portrait>span:first-child:before {
    background-image: url(../img/page6/p6_figure1.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}

@media (max-width: 768px) {
    .section_figure .content .detail .portrait>span:first-child {
        height: 326px;
        width: 234px
    }
}

.section_figure .content .detail .portrait>span:nth-child(2) {
    height: 586px;
    transform: translate3d(0, 7%, 0);
    width: 571px
}

.section_figure .content .detail .portrait>span:nth-child(2):before {
    animation-delay: .81s;
    background-image: url(../img/page6/p6_figure2.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}

@media (max-width: 768px) {
    .section_figure .content .detail .portrait>span:nth-child(2) {
        height: 293px;
        transform: translate3d(0, 9%, 0);
        width: 285px
    }
}